.container {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.options {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.option {
  border: 1px solid var(--dms-card-dark);
  padding: 3px 4px;
  border-radius: 3px;
  cursor: pointer;
}

.invisible {
  display: none;
}

.textZone {
  background: var(--dms-card-dark);
  color: var(--dms-text);
  border: 1px solid var(--dms-card);
  padding: 5px;
  display: flex;
  font-size: 0.9em;
  width: 500px;
}

.textZone[data-preview='true'] {
  gap: var(--dms-gap);
}

.textarea {
  background: none;
  color: var(--dms-text);
  border: none;
  padding: 0;
  outline: none;
  width: 100%;
}

.textZone[data-preview='false'] .textarea {
  width: inherit;
}
