.container {
  margin: var(--dms-padding) var(--dms-padding) 0 var(--dms-padding);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

header ul {
  margin: 0;
  list-style: none;
  text-align: right;
  display: flex;
  justify-items: center;
  justify-items: center;
  align-items: center;
  gap: var(--dms-gap);
}

header li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

header li a {
  display: inline-block;
  padding: 15px 10px;
  text-decoration: none;
}

header li a:hover {
  text-decoration: underline;
}
